
/* Button
--------------------------------------------- */

// Button
.site .button,
.wp-block-search .wp-block-search__button,
.wp-block-button .wp-block-button__link,
.wp-block-file .wp-block-file__button {
	// Extend button style
	@include button-style();
}

// Block Options
.wp-block-button {

	// Remove default .has-background block styling
	&.has-background {
		background: unset;
		color: unset;
		padding: unset;
	}

	// Reset other styles
	.wp-block-button__link {
		border-radius: 0;

		&:hover {
			text-decoration: none;
		}
  }
}

.wp-block-buttons {
	margin-top: calc( 0.25 * var(--global--block-margin));

	> .wp-block-button {
		margin-bottom: calc( 0.25 * var(--global--block-margin));
		&:last-child {
			margin-bottom: 0;
		}
	}
}


// see colors in theme/color-options
