
/* Social icons
--------------------------------------------- */
.wp-block-social-links {

  .wp-social-link {
    padding-bottom: 0;

    svg {
      width: $icon_size_social;
      height: $icon_size_social;
    }
  }
}
