
// Editor-layout (outside 'wrap-editor-styles')

@import "layout/content-width-editor";

// cap height of block-style previews
.block-editor-block-styles__item-preview {
  max-height: 80px;
}

// remove contrast msgs (we have our own system)
.block-editor-contrast-checker {
	display: none;
}

// remove underline from acf image buttons
.acf-icon.dark {
  text-decoration: none;
}
