
/* Quote
--------------------------------------------- */

.wp-block-quote {

	p {
		font-size: var(--global--font-size-large);
		font-style: normal;
		font-weight: 400;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	cite {
		display: block;
		font-size: 13px;
		margin-top: 12px;
		margin-bottom: 8px;
		text-transform: uppercase;
	}

	// block styles

	&.is-style-background {
		background-color: var(--color--white-grey);
		padding: var(--global--padding);
	}


}
