
// Variables
// --------------------------------------------- /

@import "vars/breakpoints";
@import "vars/spacing";
@import "vars/fonts";
@import "vars/color-map";
@import "vars/color-theme-map";
//@import "vars/buttons";
@import "vars/components";
@import "vars/blocks";

// Fonts
$serif: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
$sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$icon_size: 1.5rem;
$icon_size_social: 2rem;

// Site Header
$logo_width: 300px;
$logo_width_rem: 18.75rem;
$menu_width: $logo_width_rem + $grid-gap;
$menu-height-mobile: 48px;
$menu-toggle-size: 48px;
$static_header_desktop: 49px;
$static_header_mobile: 49px;
$sidemenu-width: 300px;
$menu-collapse-bp: $large;

// Various
$filter_white: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
$text_shadow: 1px 1px 4px rgba(clr(black),0.5);

$facebook: #3B5998;
$twitter: #00B6F1;
$pinterest: #CB2027;
