
/* Group
--------------------------------------------- */

.wp-block-group {

	.wp-block-group__inner-container {
		@include clearfix;

		> *:last-child {
			margin-bottom: 0;
		}
	}

	.wp-block-columns:last-child {
		margin-bottom: 0;
	}

	&.is-style-section {
		padding-top: var(--block-margin);
		padding-bottom: var(--block-margin);

		&.alignwide,
		&.alignfull {
			padding-top: var(--spacing-vertical-md);
			padding-bottom: var(--spacing-vertical-md);
		}
	}

	// margin collapse
	&.alignfull {

		+ .alignfull.is-style-section,
		+ .alignfull.wp-block-cover,
		+ .alignfull.wp-block-slider,
		+ .alignfull.wp-block-image,
		&.is-style-section + .alignfull.has-background {
			margin-top: 0;
		}
	}
}
