
/* Group
--------------------------------------------- */

.wp-block-group {

	.wp-block-group__inner-container {
		@include clearfix;

		& > *:last-child {
			margin-bottom: 0;
		}
	}

	.wp-block-columns:last-child {
		margin-bottom: 0;
	}

	&.is-style-extra-spacing {
		padding-top: var(--global--spacing-vertical);
		padding-bottom: var(--global--spacing-vertical);
	}

	&.alignfull.has-background + .wp-block-group.has-background {
		margin-top: 0;
	}

}
