
/* Image
--------------------------------------------- */

figure {
	margin-bottom: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;

	&.alignleft {
		float: left;
		margin: 0 var(--global--text-margin) var(--global--text-margin) 0;
	}

	&.alignright {
		float: right;
		margin: 0 0 var(--global--text-margin) var(--global--text-margin);
	}

	&.aligncenter {
		margin-left: auto;
		margin-right: auto;
	}

}

.wp-block-image figcaption {
	display: none;
	color: var(--color--grey-text);
	text-align: left;
	font-size: 14px;
	font-style: normal;
	margin-bottom: 0;
}

.wp-block-gallery {
	.blocks-gallery-grid {
		margin-bottom: -1em;
	}
}
