
/* Image
--------------------------------------------- */

figure {
	margin-bottom: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;

	&.alignleft {
		float: left;
		margin: 0 var(--text-margin) var(--text-margin) 0;
	}

	&.alignright {
		float: right;
		margin: 0 0 var(--text-margin) var(--text-margin);
	}

	&.aligncenter {
		margin-left: auto;
		margin-right: auto;
	}

}


.wp-block-image {
	margin-bottom: var(--text-margin);

	&:last-child {
		margin-bottom: 0;
	}

	figcaption {
		display: none;
		color: var(--color--grey-dark);
		text-align: left;
		font-size: 14px;
		font-style: normal;
		margin-bottom: 0;
	}
}
