
// Preview category

.preview__category {
  font-size: var(--global--font-size-small);
  text-transform: uppercase;
  letter-spacing: 1px;

  a {
    color: clr(grey, text);
    text-decoration: none;
  }
}
