
/* Slider
--------------------------------------------- */
.block-slider {
  margin-bottom: var(--block-margin);
  &:last-child {
    margin-bottom: 0;
  }
  
  img {
    object-fit: cover;
    width: 100%;
    min-height: var(--featured-img);
    max-height: 460px;
  }

  .swiper-slide {
    opacity: 0;
    @include trans-ea(0.05, opacity);
  }

  .swiper-slide-visible {
    opacity: 1;
  }

  .slider-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-shadow: $text_shadow;
    height: 100%;
    width: 100%;

    .slider-title {
      color: var(--color--white);
    }
    .slider-subtitle {
      color: var(--color--white);
    }
  }

  .slider-text-wrap {
    box-sizing: border-box;
    width: calc( 100% - calc( 2 * var(--margin-site) ) );
    > *:last-child {
      margin-bottom: 0;
    }
    @include bp-max($large){
      padding: 1em 0;
    }
  }

  // show buttons when block is hovered
  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      &::after {
        opacity: 1;
        color: var(--color--white);
      }
    }
  }


  // swiper buttons outside
  &.is-style-buttons-outside:not(.alignfull) {

    .swiper {
      margin-left: -2rem;
      margin-right: -2rem;
      padding: 0 2rem;
    }

    .swiper-button-next {
      opacity: 1;
    }
    .swiper-button-prev {
      opacity: 1;
    }

    &:hover {
      .swiper-button-prev,
      .swiper-button-next {
        &::after {
          opacity: 1;
          color: var(--color--grey);
        }
      }
    }

  }

}
