
/* Slider
--------------------------------------------- */
.block-slider {

  img {
    object-fit: cover;
    width: 100%;
    min-height: var(--global--featured-img);
    max-height: 400px;
  }

  .swiper-slide {
    position: relative;
  }

  .slider-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-shadow: $text_shadow;
    height: 100%;
    width: 100%;

    .slider-title {
      color: var(--color--white);
    }
    .slider-subtitle {
      color: var(--color--white);
    }
  }

  .slider-text-wrap {
    box-sizing: border-box;
    width: 100%;
  }

  // swiper modifications

  .swiper-button-prev,
  .swiper-button-next {
    color: var(--swiper--button-color);

    &::after {
      color: inherit;
      font-size: 1.75em;
      opacity: 0.3;
      @include bp-max($small){
        font-size: 1.5rem;
      }
    }
    &:hover {
      color: var(--swiper--button-color-h);
      &::after {
        color: inherit;
        opacity: 1;
      }
    }
    &:active,
    &:focus {
      &::after {
        color: inherit;
        opacity: 0.5;
      }
    }

  }

  .swiper-button-prev {
    left: 2px;
  }
  .swiper-button-next {
    right: 2px;
  }

  .swiper-pagination-bullet {
    opacity: 0.5;
    background-color: var(--swiper--button-color);

    &-active {
      background-color: var(--swiper--button-color-h);
      opacity: 1;
    }
  }


  // swiper buttons outside

  &.is-style-buttons-outside:not(.alignfull) {

    .swiper {
      margin-left: -2rem;
      margin-right: -2rem;
      padding: 0 2rem;
    }

    .swiper-button-next {
      opacity: 1;
    }
    .swiper-button-prev {
      opacity: 1;
    }

  }

}
