
/* Slider
--------------------------------------------- */
.block-slider {
  margin-bottom: var(--block-margin);

  img {
    object-fit: cover;
    width: 100%;
    min-height: var(--featured-img);
    max-height: 460px;
  }

  .swiper-slide {
    opacity: 0;
    @include trans-ea(0.05, opacity);
  }

  .swiper-slide-visible {
    opacity: 1;
  }

  .slider-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-shadow: $text_shadow;
    height: 100%;
    width: 100%;


    .slider-title {
      color: var(--color--white);
    }
    .slider-subtitle {
      color: var(--color--white);
    }
  }

  .slider-text-wrap {
    box-sizing: border-box;
    width: calc( 100% - #{$margin_site_s * 2});
    > *:last-child {
      margin-bottom: 0;
    }
    @include bp-max($medium){
      padding: 1em 0;
    }
  }

  // swiper modifications

  .swiper-button-prev,
  .swiper-button-next {
    color: var(--swiper--button-color);

    &::after {
      color: inherit;
      font-size: 1.5em;
      opacity: 0.5;
      @include bp-min($medium){
        font-size: 1.75rem;
        opacity: 0.3;
      }
    }
    &:hover {
      color: var(--swiper--button-color-h);
      &::after {
        color: inherit;
        opacity: 1;
      }
    }
    &:active,
    &:focus {
      &::after {
        color: inherit;
        opacity: 0.5;
      }
    }
  }

  .swiper-button-prev {
    left: 0;
    @include bp-min($medium){
      left: 2px;
    }
  }
  .swiper-button-next {
    right: 0;
    @include bp-min($medium){
      right: 2px;
    }
  }

  .swiper-pagination-bullet {
    opacity: 0.5;
    background-color: var(--swiper--button-color);

    &-active {
      background-color: var(--swiper--button-color-h);
      opacity: 1;
    }
  }

  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      &::after {
        opacity: 1;
        color: var(--color--white);
      }
    }
  }


  // swiper buttons outside

  &.is-style-buttons-outside:not(.alignfull) {

    .swiper {
      margin-left: -2rem;
      margin-right: -2rem;
      padding: 0 2rem;
    }

    .swiper-button-next {
      opacity: 1;
    }
    .swiper-button-prev {
      opacity: 1;
    }

    &:hover {
      .swiper-button-prev,
      .swiper-button-next {
        &::after {
          opacity: 1;
          color: var(--color--grey);
        }
      }
    }

  }

}
