
// Breakpoints
// --------------------------------------------- /

// Bootstrap inspired breakpoints (not in use)

// $bs-breakpoints: (
//   base: 576px,
//   small: 782px,
//   medium: 992px,
//   large: 1200px,
// );


// Breakpoints consistent with wordpress 5.8
// Note: Columns stack at base/small/medium
// https://github.com/WordPress/gutenberg/blob/wp/5.8/packages/base-styles/_breakpoints.scss
$breakpoints: (
  base: 480px,   // max 1 col
  small: 600px,  // max 2 cols
  medium: 782px, // all cols & adminbar resize
  large: 960px,  // desktop only
  wide: 1280px,
);

// Breakpoint
$base: map-get($breakpoints, base);
$small: map-get($breakpoints, small);
$medium: map-get($breakpoints, medium);
$large: map-get($breakpoints, large);

// Site width
$width-site-m: 768px;
$width-site-l: 1100px;
$width-site-w: 1680px;
$width-sidebar: 300px;

// Site margins
$margin_site_s: 2rem; // < 540px
$margin_site_m: 3rem; // > 540px


// Root variables
:root {
  --bp-mobile: #{$base};
  --bp-tablet: #{$small};
  --bp-laptop: #{$medium};
  --bp-desktop: #{$large};
  --aligncenter: #{$width-site-m};
  --alignwide: #{$width-site-l};
  --aligndefault: #{--alignwide};
}


// Breakpoint min-width
@mixin bp-min($point: 0) {
  @media only screen and(min-width: ($point + 0px)) {
    @content;
  }
}

// Breakpoint max-width
@mixin bp-max($point: 0) {
  @media only screen and (max-width: ($point - 1px)) {
    @content;
  }
}

// Breakpoint min-max-width
@mixin bp-min-max($point: 0, $pointmax: 0 ) {
  @media only screen and (min-width: ($point + 0px)) and (max-width: ($pointmax - 1px)) {
    @content;
  }
}

// Responsive (neg. margin) block width
@mixin calc-width($block: 100, $space: $grid_space) {
	width: calc( #{$block * 1%} - #{$space * 2} );
}

// Site margin max width
@mixin site-margin($margin_site: 0){
  @if( $margin_site == 0){
    width: 100%;
  } @else {
    width: calc(100% - #{$margin_site * 2});
  }
}
