
// Theme colors
// --------------------------------------------- /

$themecolors: (
  base: clr(black),
  bg: clr(white),
  bg-alt: clr(white, grey),
  body: clr(white),
  alert: #8B3036,
  border: clr(grey),
  heading: clr(primary),
  link: clr(primary),
  link-a: clr(primary, light),
  link-h: clr(primary, dark),
  // components
  footer: (
    base: clr(black),
    bg: clr(black),
    text: clr(white),
    title: clr(white),
    link: clr(white),
    link-h: clr(white),
    link-a: clr(white),
    icon: clr(white),
  ),
  header: (
    base: clr(black),
    bg: clr(white),
    bg-alt: clr(white, flash),
    text: clr(black),
    branding: clr(primary),
    border: clr(grey, light),
  ),
  menu: (
    base: clr(black),
    bg: clr(white),
    bg-alt: clr(white, grey),
    link: clr(primary),
    link-h: clr(primary, light),
    link-a: clr(primary, dark),
    mark: clr(primary),
    border: clr(grey, light),
  ),
  submenu: (
    base: clr(black),
    bg: clr(white, grey),
    bg-h: clr(grey, light),
    link: clr(black),
    link-h: clr(primary),
    link-a: clr(primary, dark),
    mark: clr(primary, light),
    expand: clr(black),
  ),
  mobmenu: (
    base: clr(black),
    bg: clr(white),
    bg-alt: clr(white, grey),
    link: clr(primary),
    link-h: clr(primary),
    link-a: clr(primary, dark),
    mark: clr(primary),
  ),
  form: (
    base: clr(black),
    bg: clr(white),
    focus: clr(white, flash),
    text: clr(black),
    text-h: clr(black),
    text-a: clr(black),
    border: clr(primary),
    border-h: clr(secondary),
    border-a: clr(secondary),
    label: clr(primary),
  ),
  button: (
    text: clr(white, flash), // property
    text-hover: clr(white),
    text-active: clr(white, flash),
    back: clr(primary),
    back-hover: clr(primary, light),
    back-active: clr(primary, light),
  ),
);

@function theme($base, $shade: base) {

  @if type-of($shade) == "map" {
    @return map-get(map-get($themecolors, $base), $shade);
  } @else {
    @return map-get($themecolors, $base);
  }

}




// Write variables in root -------------------- /
$color-prefix: '--theme';

:root {

  // each item in color map
  @each $name, $color-shades in $themecolors {

    @if type-of($color-shades) == "map" {

      // each item in sub map
      @each $subname, $color-hex in $color-shades {
        // --color-primary-base
        @if $subname == 'base' {
          #{$color-prefix + '--' + $name}: $color-hex;
        } @else {
          #{$color-prefix + '--' + $name + '--' + $subname}: $color-hex;
        }
      }

    } @else {

      #{$color-prefix + '--' + $name}: $color-shades;

    }

  }
}
