
// Components
// --------------------------------------------- /

$map-components: (
	site-title: (
		font-family: var(--font-primary),
	  font-size: 24px,
		font-size-mobile: var(--heading--font-size-small),
		text-transform: none,
	),
	menu:(
		font-family: var(--font-primary),
		font-size: var(--font-size-normal),
		font-size-sub-menu: var(--font-size-small),
		font-size-button: var(--font-size-small),
		font-style: normal,
		font-style-sub-menu-mobile: normal,
		font-weight: normal,
		font-weight-button: 500,
		line-height: 22px,
		submenu-width: 215px,
		item-pad-hor: 18px,
		item-pad-hor-large: 20px,
	),
	pagination: (
		font-family: var(--font-secondary),
		font-size: var(--font-size-normal),
		font-weight: 600,
	),
	footer: (
		font-family: var(--font-primary),
		font-size: var(--font-size-small),
	),
	button: (
		font-size: var(--font-size-normal),
		font-family: var(--font-primary),
		border-width: 1px,
		border-radius: 0,
		line-height: var(--line-height),
		padding-ver: var(--padding-inner),
		padding-hor: var(--spacing-horizontal),
		min-width: 140px,
	),
	swiper: (
	  button-color: var(--color--grey),
		button-color-h: var(--color--grey-light),
		button-color-a: var(--color--grey-dark),
	),
);

$prefix: '--';

:root {

	// each item, submap in main map (branding, selectors(map) )
	@each $top-selector, $sub-selectors in $map-components {
		// each item in map level 1 (header, properties(map) )
		@each $sub-selector, $properties in $sub-selectors {

			@if type-of($properties) == "map" {

				// each item in map level 2 (color, value)
				@each $property, $value in $properties {

					#{$prefix + $top-selector + '--' + $sub-selector + '--' + $property}: $value;
				}
			} @else {

				#{$prefix + $top-selector + '--' + $sub-selector}: $properties;

			}
		}
	}
}
