
/* Colors
--------------------------------------------- */
body {
  color: var(--theme--base);
  background-color: var(--theme--bg);
}

a {
  color: var(--theme--link);

  &:hover {
    color: var(--theme--link-h);
  }
  &:active {
    color: var(--theme--link-a);
  }
}

.publish-date {
  color: var(--color--grey-dark);
}
