
/* Color Options
--------------------------------------------- */

// Generate selector class & values for colors
@each $color-name, $color-hex in $color-picker {

	#{'.has-' + $color-name + '-color'} {
		color: var(#{'--color--' + $color-name});
	}
	#{'.has-' + $color-name + '-background-color'} {
		background-color: var(#{'--color--' + $color-name});
	}

}


.has-grey-light-background-color,
.has-white-background-color {
	color: var(--color--base);
}

.has-tertiary-background-color,
.has-secondary-background-color,
.has-primary-background-color {
	color: var(--color--white);
}
