
/* Core block spacing
--------------------------------------------- */

// all blocks


.wp-block-heading,
// front
h1,h2,h3,h4,h5,h6 {
  margin-bottom: var(--global-block-margin);
}

.wp-block-paragraph,
// front
p {
  margin-bottom: var(--global-block-margin);
  &.last-child: {
    margin-bottom: 0;
  }
}

.wp-block-list,
// front
ul, ol {

}

.wp-block-code,
// front
pre code {

}

.wp-block-preformatted,
pre {

}

.wp-block-quote,
// front
blockquote {

  .wp-block-quote__citation,
  // front
  cite {

  }
}

.wp-block-pullquote {
// front
.wp-block-pullquote blockquote
  .wp-block-pullquote__citation,
  // front
  cite {
  }
}

.wp-block-table,
// front
figure.wp-block-table {
  .wp-block-table__cell-content,
  // front
  td {

  }
}


.wp-block-image {
  figcaption {

  }
}


.wp-block-cover {
  .wp-block-cover__inner-container {

  }
}

.wp-block-file {
  a {

  }
  .wp-block-file__button {

  }
}

.wp-block-media-text {

}

.wp-block-columns {

}

.wp-block-group {

}

.wp-block-gallery {

  ul.blocks-gallery-grid {
    li.blocks-gallery-item {

    }
  }
}





// vendor

.acf-block {

}

.forminator-guttenberg {

}
