
/* Forms
--------------------------------------------- */

input, select, textarea {
	background: var(--color--white);
	border: 1px solid var(--theme--border);
	border-radius: 4px;
	color: var(--theme--base);
	font-size: var(--font-size-normal);
	line-height: 24px;
	padding: 14px 16px;
	width: 100%;
}

select {
	line-height: 54px;
	height: 54px
}

textarea {
	width: 100%;
}
