
/* ACF block controls
--------------------------------------------- */
.acf-block-body {

  .acf-block-preview {
    min-height: 0;
  }

  .acf-block-fields {
    background-color: color(wp, acf-box);
    font-size: 13px;
    margin-bottom: var(--block-margin);
    min-width: 300px;
    z-index: 1;

    input, select, textarea {
      font-size: 13px;
      padding: 4px 8px;
      line-height: 1.4;
      border: 1px solid #8c8f94;
      background: #fff;
    }

    select {
      width: 100%;
      margin: 0;
      box-sizing: border-box;
      height: auto;
    }
  }
}
