
/* Footer Widgets
--------------------------------------------- */

.footer-widgets {
	position: relative;

	li {
		list-style-type: none;
	}

	.widget-title {
		font-size: var(--font-size--h3);
		font-weight: 700;
		text-transform: uppercase;
	}

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

		svg {
			@include icon-position( 20px );
			margin-right: 12px;
		}
	}

	@include bp-max($small) {
		.social-links li {
				display: inline-block;
				margin: 0;
		}

		.social-links .label {
			display: none;
		}

		.footer-widgets-1 {
			float: left;
			width: calc( 50% - 8px );
		}

		.footer-widgets-2 {
			float: right;
			width: calc( 50% - 8px );
		}

		.footer-widgets-3 {
			overflow: hidden;
			width: 100%;
		}
	}

	@include bp-min($small) {
		.wrap {
			@include columns( 3, 'div' );
		}
	}
}
