
/* Navigation
--------------------------------------------- */

.nav-menu-top {
	display: none;
}

.nav-menu {
	display: none;

	@include bp-max($menu-collapse-bp) {
		padding-left: var(--margin-site);
		width: $sidemenu-width;
		.menu .menu-item {
			background: var(--color--grey-light);
			margin-bottom: 0.25rem;
		}
	}


	.nav-primary {
		margin-left: 0;
		margin-right: auto;
		width: 100%;
		@include bp-max($menu-collapse-bp){
			max-width: 260px;
		}
		@include bp-min($menu-collapse-bp){
			min-width: $sidemenu-width;
			margin-left: auto;
		}
	}

	&.active {
		background: var(--theme--mobmenu--bg);
		display: flex;
		flex-direction: column;
		height: auto;
		padding-bottom: var(--margin-site);
		width: 100%;
		@include bp-min($large){
			height: calc(100vh - #{$menu-height-mobile});
		}
	}

	.sub-menu {
		display: block;
		padding-left: 12px;
	}

	& > * {
		line-height: 0;
	}

	ul {
		clear: both;
		line-height: 1;
		margin: 0;
		width: 100%;
	}

	.submenu-expand {
		display: none;
	}

	.menu-item {
		list-style: none;
		position: relative;

		a {
			border: none;
			color: var(--theme--menu--link);
			display: block;
			font-size: var(--menu--font-size);
			font-family: var(--menu--font-family);
			font-weight: var(--menu--font-weight);
			line-height: var(--menu--line-height);
			padding: 11px var(--menu--item-pad-hor);
			position: relative;
			text-decoration: none;
		}

		&:hover > a {
			background: var(--theme--submenu--bg);
		}

		&.current-menu-item > a,
		&.current-menu-ancestor > a {
			color: var(--theme--menu--mark);
		}
	}

	.nav-primary {

		.menu-item.search {
			display: none;
		}
	}
}


/* Toggles
--------------------------------------------- */

.search-toggle,
.menu-toggle {

	@include button-reset;
	line-height: 0;
	text-align: center;

	.close {
		display: none;
	}

	&.active {
		background: var(--theme--menu--bg-alt);
	}

	&.active {

		.close {
			display: inline;
		}

		.open {
			display: none;
		}
	}
}


.site-header {

	& > .menu-toggle,
	& > .search-toggle {
		position: absolute;
		top: 0;
		width: $menu-toggle-size;
		height: $menu-toggle-size;
	}

	& > .menu-toggle {
		right: 0;
	}

	& > .search-toggle {
		right: $menu-toggle-size;
	}
}
