
/* Navigation
--------------------------------------------- */

.nav-menu {
	display: none;

	&.active {
		background: var(--theme--mobmenu--bg);
		border-top: 1px solid var(--theme--menu--border);
		display: flex;
		height: calc(100vh - #{$menu-height-mobile});
		width: 100%;
		@include bp-min($large){
			height: calc(100vh - #{$menu-height-mobile});
		}
	}

	.nav-primary {
		min-width: $sidemenu-width;
		margin-left: 0;
		margin-right: auto;
		@include bp-min($medium){
			margin-left: auto;
		}
	}

	.sub-menu {
		display: block;
		padding-left: 12px;
	}

	& > * {
		line-height: 0;
	}

	ul {
		clear: both;
		line-height: 1;
		margin: 0;
		width: 100%;
	}

	.submenu-expand {
		display: none;
	}

	.menu-item {
		list-style: none;
		position: relative;

		a {
			border: none;
			color: var(--theme--menu--link);
			display: block;
			font-size: var(--menu--font-size);
			font-weight: var(--menu--font-weight);
			line-height: var(--menu--line-height);
			padding: 11px var(--menu--item-pad-hor);
			position: relative;
			text-decoration: none;
		}

		&:hover > a {
			background: var(--theme--submenu--bg);
		}

		&.current-menu-item > a,
		&.current-menu-ancestor > a {
			color: var(--theme--menu--mark);
		}
	}


	.nav-secondary {

		.menu-item.search {
			padding: 4px 16px 16px;
		}
	}

	.nav-primary {

		.menu-item.search {
			display: none;
		}
	}
}


/* Toggles
--------------------------------------------- */

.search-toggle,
.menu-toggle {

	@include button-reset;
	line-height: 0;
	text-align: center;

	.close {
		display: none;
	}

	&:hover,
	&:active,
	&.active {
		background: var(--theme--menu--bg-alt);
	}

	&.active {

		.close {
			display: inline;
		}

		.open {
			display: none;
		}
	}
}


.site-header {
	@include bp-max($menu-collapse-bp) {
		margin: 0;
		width: 100%;

		.title-area {
			max-width: calc(100% - #{$menu-toggle-size * 2});
		}
	}

	.title-area {
		max-width: $logo_width;
	}

	& > .menu-toggle,
	& > .search-toggle {
		position: absolute;
		top: 0;
		width: $menu-toggle-size;
		height: $menu-toggle-size;
	}

	& > .menu-toggle {
		right: 0;
	}

	& > .search-toggle {
		right: $menu-toggle-size;
	}
}
