
/* Pagination
--------------------------------------------- */

.pagination {
	border-top: 1px solid var(--theme--border);
	font-size: var(--pagination--font-size);
	text-align: center;
	padding-top: 22px;

	ul {
		margin: 0;

		li {
			list-style-type: none;
			display: inline-block;

			a {
				border-radius: 50%;
				display: block;
				font-weight: var(--pagination--font-weight);
				text-decoration: none;
				width: 29px;
				height: 29px;
				line-height: 29px;
				text-align: center;
			}

			&.pagination-next a,
			&.pagination-previous a {
				width: auto;
			}


			&.active > a {
				font-weight: 700;
			}
		}
	}
}
