
/* Singular
--------------------------------------------- */

.singular {
}


.after-entry .wrap {

	.publish-date {
		border-top: 1px solid var(--color--grey-light);
		font-size: var(--font-size-small);
	}
}

.nav-links {
	@include clearfix;

	.nav-previous {
		float: left;
	}
	.nav-next {
		float: right;
	}
}
