
/* Site Footer
--------------------------------------------- */

.site-footer {
	background: var(--theme--footer--bg);
	font-size: var(--footer--font-size);

	.wrap > *:last-child {
		margin-bottom: 0;
	}

	a {
		color: var(--theme--footer--link);

		&:hover {
			color: var(--theme--footer--link-h);
		}
		&:active {
			color: var(--theme--footer--link-a);
		}
	}

	.footer-links a + a {
		margin-left: 12px;
	}

	.backtotop {
		background: rgba( clr(black), .75 );
		border-radius: 3px;
		display: inline-block;
		line-height: 20px;
		padding: 10px;
		text-decoration: none;
		@include bp-min($small) {
			float: right;
		}

		svg {
			fill: clr(white);
			margin-left: 4px;
			vertical-align: middle;
		}

		&:hover {
			background: rgba( clr(black), 1 );
		}
	}

	@include bp-min($small) {
		.footer-left {
			float: left;

			& > *:last-child {
				margin-bottom: 0;
			}
		}

		.copyright,
		.footer-links {
			display: inline-block;
			margin-right: 20px;
		}
	}

}
