
/* Site Footer
--------------------------------------------- */

.site-footer {
	font-size: var(--footer--font-size);

	.block-content {
		display: flex;
		> * {
			max-width: 100%;
		}
	}

	.footer-bottom {
		background: var(--theme--footer--bg);
		color: var(--color--white);
		display: flex;
		align-items: center;
		padding: 0.5rem $margin_site_s;
		position: relative;

		.footer-links a {
			margin-left: 12px;
		}

		a {
			color: var(--theme--footer--link);
			&:hover  { color: var(--theme--footer--link-h); }
			&:active { color: var(--theme--footer--link-a); }
		}

		p {
			margin: 0.5rem 0;
		}

		.backtotop {
			background: var(--color--black-dark);
			border-radius: 3px;
			display: inline-block;
			line-height: 20px;
			padding: 10px;
			text-decoration: none;

			position: absolute;
			right: var(--margin-site);

			svg {
				fill: clr(white);
				vertical-align: middle;
				width: 20px;
				height: 20px;
			}

			&:hover {
				background: var(--color--black-light);
			}
		}
	}

}
