
/* Site Header
--------------------------------------------- */

.site-header {
	background: var(--theme--header--bg);
	color: var(--theme--header--text);
	position: relative;
	height: $static_header_mobile;
}

.custom-logo {
	height: $menu-toggle-size;
	padding: 4px;
	width: auto;
}

.title-area {
	float: left;
	display: flex;
	width: 100%;
	min-height: $menu-toggle-size;
	text-align: left;
	margin: 0 auto 0 0;

	h1.site-title,
	p.site-title {
		color: var(--theme--header--branding);
		margin: 0;
		font-size: var(--site-title--font-size-mobile);
		text-transform: var(--site-title--text-transform);
		line-height: 30px;
		padding: 8px;
		@include bp-min($small){
			font-size: var(--site-title--font-size);
		}
	}
}


/* Admin Bar
--------------------------------------------- */

@include bp-min($medium) {
	.admin-bar .site-container {
		padding-top: var(--admin-bar--height);
	}
}

@include bp-max($medium) {
	#wpadminbar {
		display: none !important;
	}
}


/* Persistent Header
--------------------------------------------- */

@include bp-max($menu-collapse-bp) {

	.site-container {
		padding-top: $static_header_mobile;
	}

	.site-header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 999;
		height: $static_header_mobile;
	}
}

@include bp-min($menu-collapse-bp) {

	.site-container {
		padding-top: $static_header_desktop;
	}

	.site-header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 999;
		height: $static_header_desktop;
	}
}

// no admin bar under bp medium
@include bp-min($medium) {
	.admin-bar {

		.site-container {
			padding-top: calc(var(--admin-bar--height) + #{$static_header_desktop});
		}

		.site-header {
			top: var(--admin-bar--height);
		}
	}
}


/* Header Search
--------------------------------------------- */

.header-search {
	background: var(--theme--menu--bg-alt);
	overflow: hidden;
	padding: 16px;
	width: 100%;
	position: absolute;
	top: 48px;

	.search-form {
		margin: 0 ($menu-toggle-size - 16px) 0 auto;
	}

	&:not(.active) {
		display: none;
	}
}
