
/* Site Header
--------------------------------------------- */

.site-header {
	background: var(--theme--header--bg);
	color: var(--theme--header--text);
	position: relative;
	height: $static_header_mobile;

	.title-area {
		padding-left: var(--margin-site);
	}
	.nav-menu {
		padding-right: calc( var(--margin-site) - var(--menu--item-pad-hor-large));
	}

	.title-area {
		position: relative;
		display: flex;
		min-height: $menu-toggle-size;
		text-align: left;
		flex-wrap: nowrap;
		align-content: center;

		@include bp-max($small){
			flex-wrap: wrap;
			width: calc( 100% - calc( #{$menu-toggle-size} + var(--margin-site) ) );
		}
		@include bp-min($menu-collapse-bp){
			background-color: var(--theme--header--bg);
			z-index: 1;
		}
	}

	.title-wrap {
		display: flex;
		align-items: center;
		@include bp-max($small){
			align-items: flex-start;
			width: 100%;
		}
	}

	.site-description {
		font-family: var(--font-primary);
		font-weight: 500;
		font-size: var(--menu--font-size);
		margin-left: 16px;
		@include bp-max($small){
			margin-left: 0;
		}
	}

	.site-title {
		color: var(--theme--header--branding);
		margin: 0;
		font-size: var(--site-title--font-size-mobile);
		text-transform: var(--site-title--text-transform);
		@include bp-min($small){
			font-size: var(--site-title--font-size);
		}
	}

	.custom-logo-link {
		display: flex;
	}

	.custom-logo {
		height: auto;
		max-height: $menu-toggle-size;
		object-fit: contain;
		width: 100%;
		max-width: 320px - $menu-toggle-size;
		@include bp-min($small){
			max-width: 360px;
		}
	}
}





/* Admin Bar
--------------------------------------------- */

@include bp-min($medium) {
	.admin-bar .site-container {
		padding-top: var(--admin-bar--height);
	}
}

@include bp-max($medium) {
	#wpadminbar {
		display: none !important;
	}
}


/* Persistent Header
--------------------------------------------- */

@include bp-max($menu-collapse-bp) {

	.site-container {
		padding-top: $static_header_mobile;
	}

	.site-header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 999;
		height: $static_header_mobile;
	}
}

@include bp-min-max($medium, $menu-collapse-bp){
	.site-header {
		top: var(--wp-admin--admin-bar--height);
	}
}

/*
@include bp-min($menu-collapse-bp) {

	.site-container {
		padding-top: $static_header_desktop;
	}

	.site-header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 999;
		height: $static_header_desktop;
	}
}
*/



/* Header Search
--------------------------------------------- */

.header-search {
	background: var(--theme--menu--bg);
	overflow: hidden;
	padding: 16px;
	width: 100%;
	position: absolute;
	top: 48px;

	.search-form {
		margin: 0 ($menu-toggle-size - 16px) 0 auto;
	}

	&:not(.active) {
		display: none;
	}
}
