
/* Site Footer
--------------------------------------------- */

.site-footer {
	background: var(--footer--color-back);
	color: rgba( $white, .75 );
	font-size: var(--footer--font-size);
	padding: 32px 0;
	text-align: center;
	@include bp-min($small) {
		text-align: left;
	}

	.wrap > *:last-child {
		margin-bottom: 0;
	}

	a {
		color: rgba( $white, .75 );

		&:hover {
			color: rgba( $white, 1 );
		}
	}

	.footer-links a + a {
		margin-left: 12px;
	}

	.backtotop {
		background: rgba( $black, .75 );
		border-radius: 3px;
		display: inline-block;
		line-height: 20px;
		padding: 10px;
		text-decoration: none;
		@include bp-min($small) {
			float: right;
		}

		svg {
			fill: $white;
			margin-left: 4px;
			vertical-align: middle;
		}

		&:hover {
			background: rgba( $black, 1 );
		}
	}

	@include bp-min($small) {
		.footer-left {
			float: left;

			& > *:last-child {
				margin-bottom: 0;
			}
		}

		.copyright,
		.footer-links {
			display: inline-block;
			margin-right: 20px;
		}
	}

}
