
/* Paragraph
--------------------------------------------- */

p {
	margin: 0 0 var(--text-margin);
	padding: 0;

	&:last-child {
		margin-bottom: 0;
	}

}

.has-normal-font-size {
	font-size: var(--font-size-normal);
}

.has-large-font-size,
.large {
	font-size: var(--font-size-large);
}

.has-small-font-size,
.small {
	font-size: var(--font-size-small);
}
