
/* Preview--circle
--------------------------------------------- */

.preview-type-circle {

  .preview-img {
    margin-bottom: var(--block-margin);

    img {
      object-fit: cover;
      border-radius: 100%;
    }
  }

}
