
/* Preview
--------------------------------------------- */

.preview {
  box-sizing: border-box;
  position: relative;
}

.preview,
.preview__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  > *:not(:first-child):not(.preview__footer) {
    margin-top: var(--block-inner-gap);
  }
}

.preview__img {
  width: 100%;

  img {
    width: 100%;
  }
}

.preview__title {
  margin-bottom: 0;
}

.preview__category {
  font-size: var(--font-size-small);
  text-transform: uppercase;
  letter-spacing: 1px;

  a {
    color: clr(grey, text);
    text-decoration: none;
  }
}


.preview__footer {
  margin-top: auto;
  padding-top: var(--block-inner-gap);
  text-align: right;

  .has-text-align-center & {
    text-align: center;
  }
  .has-text-align-left & {
    text-align: right;
  }
}


/*
.preview__date {}
.preview__excerpt {}
*/
