
/* Preview
--------------------------------------------- */

.preview {
  box-sizing: border-box;
  position: relative;
}

.preview,
.preview-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  > *:not(:first-child):not(.preview-footer):not(.is-on-top) {
    margin-top: var(--block-inner-gap);
  }

  &.is-on-top {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
  }
}

.preview-img {
  width: 100%;

  img {
    height: 100%;
    width: 100%;
  }
}

.preview-title {
  margin-bottom: 0;
}

.preview-category {
  font-size: var(--font-size--small);
  text-transform: uppercase;
  text-decoration: none;
}

.preview-categories {
  font-size: 13px;
}

.preview-footer {
  margin-top: auto;
  padding-top: var(--block-inner-gap);
  text-align: right;

  .has-text-align-center & {
    text-align: center;
  }
  .has-text-align-left & {
    text-align: right;
  }
}
