
/* Preview--list
--------------------------------------------- */

.preview-type-list {
  flex-wrap: nowrap;
  flex-direction: row;

  .preview-content {
    flex-direction: column;
  }

  .preview-title,
  .preview-text p {
    min-height: auto;
  }

  .preview-img + .preview-content {
    margin-top: 0;
    width: 75%;
  }

  .preview-img {
    width: 25%;
    img {
      height: auto;
    }
  }

  .preview-content {
    margin-left: var(--block-gap);
    .preview-footer {
      margin-top: auto;
    }
  }

  @include bp-max($base){

    .preview-text {
      font-size: 0.8125rem;
    }
  }

}
