
/* Preview-slide
--------------------------------------------- */

.preview-type-slide {
  overflow: hidden;

  // slide
  $trans_up_s: (fontsize_rem(h3, base) * $line_height_preview_title) + ( v($map-spacing, padding, base) * 2 );
  $trans_up_m: (fontsize_rem(h3, medium) * $line_height_preview_title) + ( v($map-spacing, padding, medium) * 2 );
  $trans_up_l: (fontsize_rem(h3, large) * $line_height_preview_title) + ( v($map-spacing, padding, large) * 2 );

  .preview-img {
    width: 100%;
    img {
      width: 100%;
    }
  }

  .preview-content {
    background-color: rgba(clr(grey, light), 0.85);
    bottom: 0;
    position: absolute;
    padding: var(--padding);
    height: 100%;
    width: 100%;
    margin-top: 0;

    .preview-title {
      margin-bottom: var(--padding);
    }

    @include bp-max($medium){
      .preview-category,
      .preview-footer,
      .preview-text {
        display: none;
      }
    }

    @include trans-ea(0.2, transform, background-color);
    transform: translateY( calc(100% - #{$trans_up_s}) );

    @include bp-min($medium){
      transform: translateY( calc(100% - #{$trans_up_m}) );
    }
    @include bp-min($large){
      transform: translateY( calc(100% - #{$trans_up_l}) );
    }
  }

  .preview-meta {
    margin-top: auto;
  }

  .preview-footer {
    text-align: right;
  }


  &:hover {
    @include bp-min($medium){
      .preview-content {
        background-color: rgba(clr(grey, light), 0.75);
        transform: translateY( 0 );
      }
    }
  }

}
