
/* Preview
--------------------------------------------- */

.preview {
  box-sizing: border-box;
  position: relative;
}

.preview,
.preview-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  > *:not(:first-child):not(.preview-footer) {
    margin-top: var(--block-inner-gap);
  }
}

.preview-img {
  width: 100%;

  img {
    width: 100%;
  }
}

.preview-title {
  margin-bottom: 0;
}

.preview-category {
  font-size: var(--font-size-small);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}


.preview-footer {
  margin-top: auto;
  padding-top: var(--block-inner-gap);
  text-align: right;

  .has-text-align-center & {
    text-align: center;
  }
  .has-text-align-left & {
    text-align: right;
  }
}
