
/* Spacer
--------------------------------------------- */
.block-spacer {

  &.vs-h-sm {
    height: calc( var(--spacing-vertical-sm) - var(--block-margin) );
  }
  &.vs-h-md {
    height: calc( var(--spacing-vertical-md) - var(--block-margin) );
  }
  &.vs-h-lg {
    height: calc( var(--spacing-vertical-lg) - var(--block-margin) );
  }
}
