@import "spacer";

.block-spacer {
  border-top: 1px solid var(--color--grey-light);
  border-bottom: 1px solid var(--color--grey-light);
  margin-top: 0;
  margin-bottom: 0;
  position: relative;

  &::before {
    @include spacer_icon( $top: true);
  }
  &::after {
    @include spacer_icon();
  }
}
