
/* Icon wrap
--------------------------------------------- */
.block-icon-wrap {
  display: flex;
  flex-wrap: nowrap;

  > * {
    margin-bottom: 0;
  }

  .block-icon-svg__wrap {
    background: var(--color--primary);
    display: flex;
    align-items: top;
    margin-right: var(--padding-inner);
    margin-top: calc( 0.5 * var(--padding-inner) );

    svg {
      fill: var(--color--white);
      height: var(--icon-size);
      width: var(--icon-size);
    }
  }

}
