
/* Icon svg
--------------------------------------------- */

$icon-size-normal: 2.5rem;
$icon-padding-normal: 0.75rem;
$icon-width-normal: $icon-size-normal + ($icon-padding-normal * 2);

.block-icon-svg {
  display: flex;
  line-height: 1;
  margin-bottom: var(--global--text-margin);

  .block-icon-svg__wrap {
    background: white;
    padding: $icon-padding-normal;
    border-radius: 50%;
    height: $icon-width-normal;
    width: $icon-width-normal;
    svg {
      height: $icon-size-normal;
      width: $icon-size-normal;
    }
  }

  .block-icon-svg__wrap {
    background: var(--color--primary);

    svg {
      fill: var(--color--white);
    }
  }

  // native textalign setting
  &.aligncenter {
    justify-content: center;
  }
  &.alignright {
    justify-content: end;
  }

}


// center editor preview
.editor-preview {
  justify-content: center;

  .block-icon-svg__wrap {
    svg {
      padding-top: 2px;
    }
  }
}
