
/* Icon svg
--------------------------------------------- */

.block-icon-svg {
  display: flex;
  line-height: 1;
  margin-bottom: var(--global--text-margin);

  .block-icon-svg__wrap {
    background: white;
    padding: var(--global--icon-padding);
    border-radius: 50%;
    height: var(--global--icon-size-outer);
    width: var(--global--icon-size-outer);
    svg {
      height: var(--global--icon-size);
      width: var(--global--icon-size);
    }
  }

  .block-icon-svg__wrap {
    background: var(--color--primary);

    svg {
      fill: var(--color--white);
    }
  }

  // native textalign setting
  &.aligncenter {
    justify-content: center;
  }
  &.alignright {
    justify-content: end;
  }

}


// center editor preview
.editor-preview {
  justify-content: center;

  .block-icon-svg__wrap {
    svg {
      padding-top: 2px;
    }
  }
}
