
/* Pullquote
--------------------------------------------- */
.wp-block-pullquote {
  text-align: left;
  border-top: 2px solid var(--color--primary);
  border-bottom: 2px solid var(--color--primary);
  margin-bottom: var(--block-margin);
  padding: var(--padding);

  blockquote {
    margin: 0;

    p + cite {
      display: block;
      margin-top: var(--block-margin);
    }
    p {
      font-size: var(--font-size-h3);
      line-height: 1.4;
    }
  }


  .wp-block-pullquote__citation {
		display: block;
		font-size: var(--font-size-small);
		margin-top: var(--block-margin);
		margin-bottom: 0;
		text-transform: uppercase;
  }


  // block styles

  &.is-style-solid-color {
    border: none;

    blockquote {
      max-width: unset;
    }
  }
}
