
/* File
--------------------------------------------- */

.wp-block-file {
  display: flex;
  align-items: center;
  margin-bottom: var(--block-margin);

  @include bp-max($base){
    flex-wrap: wrap;
    justify-content: space-between;
    a {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
    .wp-block-file__button {
      padding: 0.5em 1em;
      margin: 0;
    }
  }

  .wp-block-file__button {
    background: var(--color--primary);
    padding: 0.5em 1.75em;

    &:hover,
    &:focus {
      opacity: 1;
      background-color: darken( clr(primary), 10% );
    }
    &:active {
      background-color: darken( clr(primary), 18% );
    }
  }

  // alignment

  &.alignright {
    justify-content: flex-end;
  }
  &.aligncenter {
    justify-content: center;
  }
}
