
/* File
--------------------------------------------- */

.wp-block-file {

  a.wp-block-file__button {
    padding: 0.5em 1.75em;

    &:hover,
    &:focus {
      opacity: 1;
      background-color: darken( clr(primary), 10% );
    }
    &:active {
      background-color: darken( clr(primary), 18% );
    }

  }
}
