//@import "list";

/* List [editor]
--------------------------------------------- */

.wp-block-list  {
	box-sizing: border-box;
	list-style-position: inside;

  li {
		$text_indent: 1.375em;
		padding: 0.25em 0.25em 0.25em (0.25em + $text_indent);
		text-indent: -$text_indent;

    &:last-child {
      padding-bottom: 0;
    }

    ul, ol {
      padding-top: 0.5rem;
			padding-left: 1rem;
    }
  }

  &.blocks-gallery-grid {
    padding-left: 0;

    li {
      padding: 0;
    }
  }

	&.has-background {
		padding: var(--global--padding);

		li {
			margin-left: 0;
		}
	}

	// block styles

	&.is-style-no-dots {
		list-style-type: none;
	}

	&.is-style-icon {
		list-style-type: none;

		li {
			background: url(../icons/utility-arrows-collapse.svg) center left no-repeat;
		}
	}
}
