@import "svg";

.block-svg {

  &.is-icon {
    margin-bottom: 0;
  }

}

// center editor preview
.editor-preview {
  justify-content: center;

  .block-svg__wrap {
    svg {
      padding-top: 2px;
    }
  }
}
