
/* Table
--------------------------------------------- */

.wp-block-table  {
  border-collapse: collapse;
  margin-bottom: var(--global--block-margin);
  @include bp-min($small){
    width: 100%;
  }
  @include bp-max($small){
    font-size: 12px;
    letter-spacing: 0;
  }

	td, th {
		padding: 0.5em;
	  border: 1px solid var(--theme--border);
	}
}
