
/* Table
--------------------------------------------- */

.wp-block-table  {
  border-collapse: collapse;
  margin-bottom: var(--block-margin);
  @include bp-min($small){
    width: 100%;
  }
  @include bp-max($small){
    font-size: 12px;
    letter-spacing: 0;
  }

	td, th {
		padding: 0.5em;
	  border: 1px solid var(--theme--border);
	}

  figcaption {
    color: var(--color--grey-dark);
    font-size: var(--font-size-small);
    padding: 0.5em;
    text-align: right;
  }

  thead {
    text-align: left;
  }

  &.is-style-background {

    table {
      border-collapse: separate;
      border-spacing: 4px;
    }

    td, th {
      background: var(--theme--bg-alt);
      border-color: var(--theme--bg-alt);

      .has-grey-light-background-color & {
        background: var(--theme--bg);
        border-color: var(--theme--bg-alt);
      }
    }

  }

}
