
/* Image
--------------------------------------------- */

.block-image {
  margin-bottom: var(--block-margin);

  .fit-cover {
    width: 100%;
    object-fit: cover;
  }


  // alignments

  &.aligncenter {
    img {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.block-content {

  > .block-image.alignfull {
    margin-bottom: 0;

    + .wp-block-group.alignfull.is-style-section {
      margin-top: 0;
    }
  }

  > .wp-block-group.alignfull.is-style-section {
    + .block-image.alignfull {
      margin-top: 0;
    }
  }
}
