
/* Heading
--------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-primary);
	font-weight: 400;
	line-height: var(--line-height-heading);
	margin: 0 0 var(--block-margin);

	> a {
		color: inherit !important;

		&:hover {
			text-decoration: none;
		}
	}

	&:focus {
		outline: none;
	}
}

h1 {
  font-size: var(--font-size--h1);
}

h2 {
	font-size: var(--font-size--h2);
}

h3 {
	font-size: var(--font-size--h3);
}

h4, h5, h6 {
	font-size: var(--font-size--h4);
	margin: 0 0 var(--text-margin);
}
