@import "post-excerpt";

/* Post-excerpt [editor]
--------------------------------------------- */

.wp-block-post-excerpt {
	border-bottom: 1px dashed var(--global--color-grey);
	font-size: var(--global--font-size-small);
	&:after {
		content: "Not rendered";
		color: var(--global--color-grey);
		font-size: 0.75em;
		display: block;
		text-align: right;
	}

	.wp-block-post-excerpt__more-text {
		margin-bottom: 0;
		font-size: inherit;
	}
}
