@import "post-excerpt";

/* Post-excerpt [editor]
--------------------------------------------- */

.wp-block-post-excerpt {
	border-bottom: 1px dashed var(--color--grey);
	font-size: var(--global--font-size-small);
	&:before {
		content: "Not rendered";
		color: var(--color--grey);
		font-size: 0.75em;
		display: block;
		position: absolute;
		text-align: right;
		line-height: 22px;
		width: 100%;
	}

	.wp-block-post-excerpt__more-text {
		margin-bottom: 0;
		font-size: inherit;
	}
}
