
/* Archive Header
--------------------------------------------- */

.archive-header {
	padding-top: var(--padding);
	padding-bottom: var(--padding);
	width: 100%;

	.archive-title {
		margin-bottom: 0;
	}

	.archive-search {
		background-color: var(--color--grey-light);
		padding: var(--padding-inner) 0;
		max-width: 100%;
	}

	.search-form {
		max-width: var(--aligncenter);
		margin: 0 auto;
	}

	.archive-title + .archive-search {
		margin-top: var(--text-margin);
	}

}

.author-archive-description {

	.avatar {
		border-radius: 50%;
		display: block;
		margin: 0 auto 16px;
	}

	h3:last-child {
		@include bp-min($small) {
			margin-top: 48px;
		}
	}
}

.author-title {
	font-size: var(--global-font-size-h4);
	font-weight: 700;
	text-transform: uppercase;
}
