
/* Gallery
--------------------------------------------- */
.wp-block-gallery {
  margin-bottom: var(--block-margin);

  .blocks-gallery-grid {
    gap: var(--gallery-gap);
  }

  // override WP margins
  .blocks-gallery-item {
    margin: 0 !important;
    
    /*
    figcaption,
    .blocks-gallery-item__caption {
    }
    */
  }
}
