
/* Alignments
--------------------------------------------- */

.aligncenter {
  max-width: var(--aligncenter);
  margin-left: auto;
  margin-right: auto;
}

.alignwide {
  max-width: var(--alignwide);
  margin-left: auto;
  margin-right: auto;

  .alignfull {
    width: 100%;
    max-width: 100%;
  }
}

.alignfull {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
