
/* Block colors
--------------------------------------------- */

.has-background {
  padding: var(--global--block-pad);

  [data-align="wide"] & {
    [data-align="wide"] {
      padding-left: var(--global--block-pad);
      padding-right: var(--global--block-pad);
    }
  }

  &.wp-block-group {
    padding: var(--global--block-margin);
  }

  .has-background {
    padding: var(--global--block-pad);
  }
}
