
/* Block colors
--------------------------------------------- */

.has-background {
  padding: var(--global--padding);

  &.alignfull {
    padding: var(--global--padding) $margin_site_s;
  }

  &.alignwide {
    .alignwide {
      padding-left: var(--global--padding);
      padding-right: var(--global--padding);
    }
  }

  .has-background {
    padding: var(--global--padding);
  }
}
