
/* Block colors
--------------------------------------------- */

.has-background {
  padding: var(--padding);

  &.alignfull {
    padding: var(--padding) $margin_site_s;
  }

  &.alignwide {
    .alignwide {
      padding-left: var(--padding);
      padding-right: var(--padding);
    }
  }

  .has-background:not(.wp-block-button__link) {
    padding: var(--padding);
  }
}
