
/* Editor layout - outside wrap-editor-styles
--------------------------------------------- */
.wp-block {
	margin-top: 0;
	margin-bottom: var(--global--block-margin);
	max-width: unset;
}

.is-root-container {

	.wp-block {

		&[data-align="left"],
		&[data-align="right"] {
			> * {
				margin-bottom: var(--global--block-margin);
			}
		}

		&[data-align="full"] {
			margin-left: auto !important;
			margin-right: auto !important;

			> .acf-block-body {
				max-width: var(--global--alignwide);
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}


.acf-block {
	max-width: 100%;
	width: 100%;
}

// horizontal layouts
.content-wide {

	.editor-styles-wrapper {

		.wp-block-post-title,
		.editor-post-title__block.wp-block {
			max-width: var(--global--alignwide);
		}

		.is-root-container {

			> .wp-block {
				max-width: var(--global--alignwide);
			}

			> .block-list-appender {
				max-width: var(--global--alignwide);
				margin-left: auto;
				margin-right: auto;
			}
		}

		.wp-block[data-align="full"] {
			max-width: none;
			width: 100%;

			.wp-block-cover__inner-container,
			.wp-block-group__inner-container {
				> *:not([data-align="full"]) {
					max-width: var(--global--alignwide);
				}
				.block-list-appender {
					margin-left: auto;
					margin-right: auto;
				}
			}
		}

	}
}

.content-center {

	.editor-styles-wrapper {

		.wp-block-post-title,
		.editor-post-title__block.wp-block {
			max-width: var(--global--aligncenter);
		}

		.is-root-container {

			> .wp-block {
				max-width: var(--global--aligncenter);
			}

			> .block-list-appender {
				max-width: var(--global--alignwide);
				margin-left: auto;
				margin-right: auto;
			}
		}

		.wp-block[data-align="wide"] {
			max-width: var(--global--alignwide);

			.wp-block-cover__inner-container,
			.wp-block-group__inner-container {
				> *:not([data-align="full"]):not([data-align="wide"]) {
					max-width: var(--global--aligncenter);
				}
			}
		}

		.wp-block[data-align="full"] {
			max-width: 100%;
			width: 100%;

			.wp-block-cover__inner-container,
			.wp-block-group__inner-container {
				> *:not([data-align="full"]):not([data-align="wide"]) {
					max-width: var(--global--aligncenter);
				}
			}
		}

	}
}


.block-editor-contrast-checker {
	display: none;
}

// attach post excerpt input to title
.post-type-post {
	.is-root-container {
		.wp-block:first-child {
			margin-top: 0;
		}
	}
}
.post-type-page {
	.edit-post-visual-editor__post-title-wrapper {
		border-bottom: 1px dashed var(--color--grey);
		margin-bottom: 8px;
	}
}
