
/* Site layout
--------------------------------------------- */

.wrap {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - #{$margin_site_s * 2});
}

.block-content {

  > * {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - #{$margin_site_s * 2});
  }

  // .has-background has hor-padding of sitemargin
  > .wp-block-group.alignfull:not(.has-background) {
    .wp-block-group__inner-container {
      margin-left: auto;
      margin-right: auto;
      width: calc(100% - #{$margin_site_s * 2});
    }
  }
}

@import "content-wide";
@import "content-center";
