
/* Vertical spacing [editor]
--------------------------------------------- */
// spacer icon
@mixin spacer_icon( $top: false ) {
  $width_icon_collapse: v($map-spacing, block-margin) - 0.25rem;
  content: "";
  position: absolute;
  fill: #ebebeb;
  height: $width_icon_collapse;
  width: $width_icon_collapse;
  background: url(../icons/utility-arrows-collapse.svg) no-repeat center;
  background-size: contain;
  left: calc(50% - #{$width_icon_collapse * 0.5});
  opacity: 0.1;
	@if ( $top == false ) {
		bottom: - #{$width_icon_collapse + 0.125rem};
	} @else {
		top: - #{$width_icon_collapse + 0.125rem};
	}
}

.is-root-container {

	.wp-block {
		border: 1px solid var(--global--color-grey);
	}

	// Margins

	> .wp-block {
		margin-bottom: var(--global--block-margin);

		&:first-child:not(.has-background):not(.wp-block-cover):not(.wp-block-post-excerpt):not([data-align="full"]){
			margin-top: var(--global--block-margin);
		}

	}

	> .wp-block-group {
		margin-bottom: 0;
		&.is-style-no-space:not(.has-background) {
			margin-top: var(--global--block-margin);
			margin-bottom: var(--global--block-margin);
		}
	}

	> .wp-block-columns,
	> .wp-block-cover {
		position: relative;
		&:before {
			@include spacer_icon();
		}
	}

	> .wp-block[data-align="full"] {
		position: relative;
		&:before {
			@include spacer_icon();
		}
		> .wp-block-columns,
		> .wp-block-cover,
		> .wp-block-group {
			margin-bottom: 0;
		}

		+ .wp-block-columns:not(.has-background) {
			// use pad instead of margin to prevent cascade
			padding-top: var(--global--block-margin);
		}
	}

	> .wp-block-columns {
		+ [data-align="full"],
		+ .wp-block-group {
			&:before {
				@include spacer_icon(top);
			}
		}
	}


	// Padding

	> .wp-block[data-align="wide"] .wp-block-group,
	> .wp-block[data-align="full"] .wp-block-group,
	> .wp-block-group {
		padding-top: var(--global--spacing-vertical);
		padding-bottom: var(--global--spacing-vertical);

		&.has-background {
			padding-left: var(--global--block-margin);
			padding-right: var(--global--block-margin);

			&.is-style-no-space {
				padding-top: var(--global--block-margin);
				padding-bottom: var(--global--block-margin);
			}
		}

		&.is-style-no-space:not(.has-background) {
			padding-top: 0;
			padding-bottom: 0;
		}

	}
}
