
/* Vertical spacing
--------------------------------------------- */

.block-content {

  // block spacing

  > * {
    margin-top: var(--block-margin);

    &:first-child {

      &.alignfull,
      &.alignfull.has-background {
        margin-top: 0;
      }
    }

    &:last-child {
      margin-bottom: var(--block-margin);

      &.alignfull,
      &.alignfull.has-background {
        margin-bottom: 0;
      }
    }
  }

}



.after-entry {
  margin-top: var(--spacing-vertical-md);
  margin-bottom: var(--spacing-vertical-md);
}

.related {
  margin-top: var(--spacing-vertical-lg);
  margin-bottom: var(--spacing-vertical-lg);

  .section-title {
    margin-bottom: var(--block-margin);
  }
}
