
/* Vertical spacing [editor]
--------------------------------------------- */

.is-root-container {

	// Margins

	> .wp-block {
		margin-bottom: var(--block-margin);

		&:first-child:not(.has-background):not(.wp-block-cover):not(.wp-block-post-excerpt):not([data-align="full"]){
			margin-top: var(--block-margin);
		}

	}

	> .wp-block-group {

		&.is-style-section {
      padding-top: var(--spacing-vertical-md);
  		padding-bottom: var(--spacing-vertical-md);
		}
	}


	> .wp-block[data-align="full"] {

		> .wp-block-cover,
		> .wp-block-group {
			margin-bottom: 0;
		}

    > .wp-block-group {

      &.is-style-section {
        padding-top: var(--spacing-vertical-md);
        padding-bottom: var(--spacing-vertical-md);
      }
    }
	}

  > .wp-block[data-align="wide"] {

    > .wp-block-cover,
    > .wp-block-group {
      margin-bottom: 0;
    }

    > .wp-block-group {

      &.is-style-section {
        padding-top: var(--spacing-vertical-md);
        padding-bottom: var(--spacing-vertical-md);
      }
    }
  }
}
