
/* Vertical spacing
--------------------------------------------- */

.block-area,
.entry-content {

  .single & {
    margin-top: var(--global--text-margin);
  }

  // block spacing

  > * {
    margin-bottom: var(--global--block-margin);

    &:first-child:not(.has-background):not(.wp-block-cover){
      margin-top: var(--global--block-margin);
    }

    &:last-child.has-background {
      margin-bottom: 0;
    }
  }

  > .wp-block-columns {
    + .wp-block-group {
      margin-top: calc( -1 * var(--global--block-margin));
    }
  }

  > .wp-block-cover,
  > .wp-block-group {
    margin-bottom: 0;

    &.alignfull {
      margin-bottom: 0;
    }

    + .wp-block-columns {
      margin-top: var(--global--block-margin);
    }
  }


  // Padding

  > .wp-block-group.alignfull,
  > .wp-block-group.alignwide,
  > .wp-block-group {
    padding-top: var(--global--spacing-vertical);
		padding-bottom: var(--global--spacing-vertical);

    &.has-background {
      padding-left: $margin_site_s;
			padding-right: $margin_site_s;
      @include bp-min($small){
				padding-left: var(--global--block-margin);
				padding-right: var(--global--block-margin);
			}

      &.is-style-no-space {
        padding-top: var(--global--block-margin);
        padding-bottom: var(--global--block-margin);
      }
    }

    &.is-style-no-space:not(.has-background) {
      padding-top: var(--global--block-margin);
      padding-bottom: var(--global--block-margin);
    }
  }

}
