
/* Columns
--------------------------------------------- */

.wp-block-columns {

  .wp-block-columns {
    margin-bottom: 0;
  }
}

.wp-block-column {

  @include bp-max($small){
    margin-bottom: var(--global--block-gap);

    > *:last-child {
      margin-bottom: 0;
    }
  }

  @include bp-min($small){

    &:not(:first-child) {
      margin-left: var(--global--block-gap);
    }
  }

}
