
/* Admin-columns
---------------------------------------------------------------------------------------------------- */
.wp-admin {

  .fixed {

    .column-img {
      width: 100px;

      img {
        max-width: 100%;
      }

    }
  }
}

.post-type-testimonial {
  .wp-list-table .column-img img {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    object-fit: cover;
  }
}
