
/* Code
--------------------------------------------- */
.wp-block-code {

  code {
    background-color: var(--color--grey-light);
    display: inline-block;
    font-size: var(--font-size--small);
    padding: var(--padding-inner);
  }
}
