
/* Post featured image
--------------------------------------------- */

//.size-featured,
.wp-block-post-featured-image {
  margin-bottom: var(--block-margin);

  img {
    object-fit: cover;
    width: 100%;
    height: var(--featured-img);
  }

  &.alignfull {
    margin-bottom: 0;

    + .alignfull.wp-block-cover,
    + .alignfull.block-slider,
    + .alignfull.block-image,
    + .alignfull.is-style-section {
      margin-top: 0;
    }
  }
}



.block-image {

  .size-featured {
    object-fit: cover;
    width: 100%;
    height: var(--featured-img);
  }
}
