
/* Post featured image
--------------------------------------------- */

//.size-featured,
.wp-block-post-featured-image {

  img {
    object-fit: cover;
    width: 100%;
    height: var(--featured-img);
  }
}


.block-image {

  .size-featured {
    object-fit: cover;
    width: 100%;
    height: var(--featured-img);
  }
}
