
/* Post featured image
--------------------------------------------- */

.wp-block-post-featured-image {

  img {
    object-fit: cover;
    width: 100%;
    min-height: var(--featured-img);
    max-height: 460px;
  }
}
