
/* Entry Header
--------------------------------------------- */

.entry-header {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  border-bottom: 1px solid var(--color--grey-light);

  @include bp-min($small) {
    overflow: hidden;
    width: 100%;
  }

  .header-wrap > * {
    margin-bottom: var(--block-inner-gap);

    &:last-child {
      margin-bottom: 0;
    }
  }

}
