
/* Entry Comments
--------------------------------------------- */

.entry-comments {

	.comment-list {
		margin: 0 0 var(--text-margin-x2);

		li {
			list-style-type: none;
			border: 1px solid var(--theme--border);

			article {
				padding: var(--text-margin);
				position: relative;
			}
		}

		& > li {
			border-radius: 3px;
			overflow: hidden;
			margin-bottom: 15px;
		}

		.comment-author {
			display: inline-block;
			vertical-align: middle;
			margin: 0;
			font-family: $serif;
			font-size: var(--font-size-h4);

			a {
				text-decoration: none;
			}

			.says {
				display: none;
			}
		}

		.comment-edit-link {
			display: none;
		}

		.comment-meta {
			font-size: 14px;
			color: clr(grey, text);
			vertical-align: middle;

			a {
				color: clr(grey, text);
				font-weight: 400;
				text-decoration: none;
			}
		}

		.comment-content {

			p:last-child {
				margin: 0;
			}
		}

		.comment-reply-link {
			position: absolute;
			top: 16px;
			right: 16px;
			font-size: 16px;
			text-transform: uppercase;
			text-decoration: none;
		}

		ul.children {
			margin: 0;

			li {
				border-top: 1px solid var(--theme--border);
			}
		}

	}
}

.comment-navigation {

	a {
		font-size: 20px;
		text-transform: uppercase;
		text-decoration: none;
	}
}

.comment-respond {
	margin-top: var(--spacing-vertical-md);
	margin-bottom: var(--spacing-vertical-md);

	label {
		display: block;
		margin-right: 12px;

		&[for="subscribe"],
		&[for="wp-comment-cookies-consent"] {
			display: inline-block;
		}
	}

	.comment-form-cookies-consent {
		input {
			width: auto;
		}
	}

	@include bp-min($small) {

		.comment-form-author,
		.comment-form-email {
			float: left;
			width: calc( 50% - 16px );
		}

		.comment-form-email {
			margin-left: 32px;
		}

		input[type="submit"] {
			width: auto;
		}
	}
}
